[MASTER]
ignore=ci-framework
jobs=1

[MESSAGES CONTROL]
disable=
    #C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    R0801   # duplicate-code

[FORMAT]
max-line-length=88

[DESIGN]
max-args=6
max-locals=15
max-branches=12
max-statements=50

[SIMILARITIES]
min-similarity-lines=4

[REPORTS]
score=yes
